.MainWrapper {
  max-width: 100%;
  width: 95%;
  height: calc(100vh - 0.625rem);
  margin: 0.625rem auto 0;
  padding: 4.0625rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 0;
  background-color: #0c111b;
  position: relative; /* Needed for absolute children */
  overflow-y: auto;
  overflow-x: hidden;
}

.MainWrapper::-webkit-scrollbar {
  display: none;
}

@media (max-width: 480px) {
  .MainWrapper {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
