.UserReviewsSection {
    padding: 3rem 1rem;
    overflow: hidden;
}

.SectionTitle {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--off-white);
}

.CarouselWrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.CarouselTrack {
    display: flex;
    width: max-content;
    animation: ScrollLeft 60s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);


}

.CarouselWrapper:hover .CarouselTrack {
    animation-play-state: paused;
}

@keyframes ScrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.ReviewCard {
    flex: 0 0 auto;
    width: 250px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 1.2rem;
    margin: 0 1rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
    transform: translateZ(0);

}

.ReviewCard:hover {
    transform: scale(1.05);
}

.UserImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.8rem;
    border: 2px solid #ddd;
}

.UserName {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #222;
}

.ReviewSummary {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .ReviewCard {
        width: 200px;
        padding: 1rem;
        margin: 0 0.5rem;
    }

    .SectionTitle {
        font-size: 1.5rem;
    }

    .ReviewSummary {
        font-size: 0.85rem;
    }
}