.SiteMetadata {
    width: 100%;
    padding: 20px 10px;
    color: var(--off-white);
}

.MetadataContainer {
    max-width: 1100px;
    margin: 0 auto;
}

.MetadataGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    text-align: center;
}

.MetadataItem {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MetadataValue {
    font-size: 2rem;
    margin: 5px 0;
    font-weight: 200;
    line-height: 2.5;
    font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
    transform: scaleX(1.2);
    transform-origin: left;
    background:var(--off-white);
    -webkit-background-clip: text;
}

.MetadataLabel {
    font-size: 1.1rem;
    letter-spacing: 0.8px;
    white-space: nowrap;
    overflow: hidden;
    color: var(--off-white);
    /* text-overflow: ellipsis; */
}

@media (max-width: 768px) {
    .MetadataGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .MetadataValue {
        font-size: 1.5rem;
    }

    .MetadataLabel {
        font-size: 0.7rem;
    }

    .MetadataGrid>div:nth-of-type(1),
    .MetadataGrid>div:nth-of-type(2) {
        border-bottom: 1px solid var(--highlight);
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .MetadataValue {
        font-size: 1.8rem;
    }

    .MetadataLabel {
        font-size: 1rem;
    }
}